extends ../main

append javascripts
    script(src='/static/js/admin/main.js' type='text/javascript')

block title
    | Admin

append header
    ul
        li
            a(href='/admin/post') Post list
