<ul>
    <li><a href="/">Home page</a></li>
    {{#if user }}
        {{#isAdmin user}}
            <li><a href="/admin/dashboard">Dashboard</a></li>
        {{/isAdmin}}
        <li>{{#with user}}{{email}}{{/with}}
            <ul>
                <li><a href="/user/logout">logout</a></li>
            </ul>
        </li>
    {{else}}
        <li><a href="/user/login">login</a></li>
    {{/if}}
</ul>
