extends ../main

append title
    |  - User - Create

block content
    form(action='/admin/user' method='post')
        .form-group
            label(for='email') Email
            input(type='email' class='form-control' placeholder='Email' name='email')
        .form-group
            label(for='password') Password
            input(type='password' class='form-control' placeholder='Password' name='password')
        button(type='submit' class='btn btn-success') Submit
        a(href='/admin/user' class='btn btn-danger') Cancel
