extends ../main

append title
    |  - Post - Create

block content
    form(action='/admin/post' method='post' enctype='multipart/form-data')
        .form-group
            label(for='cover') Cover
            input(type='file' name='cover')
        .form-group
            label(for='title') Title
            input(type='text' class='form-control' placeholder='Title' name='title')
        .form-group
            label(for='description') Description
            textarea(class='form-control froala-editor' placeholder='Description' name='description')
        .checkbox
            label
                input(type='checkbox' name='enabled')
                | Enabled
        button(type='submit' class='btn btn-success') Submit
        a(href='/admin/post' class='btn btn-danger') Cancel
