extends ../main

append title
    |  - Post - Edit

block content
    form(action='/admin/post/' + post.slug method='post')
        .form-group
            label(for='title') Title
            input(type='text' class='form-control' placeholder='Title' name='title' value=post.title)
        .form-group
            label(for='slug') Slug
            input(type='text' class='form-control' placeholder='Slug' name='slug' value=post.slug)
        .form-group
            label(for='description') Description
            textarea(class='form-control froala-editor' placeholder='Description' name='description')= post.description
        .checkbox
            label
                if post.enabled
                    input(type='checkbox' name='enabled' checked)
                else
                    input(type='checkbox' name='enabled')
                | Enabled
        button(type='submit' class='btn btn-success') Submit
        a(href='/admin/post' class='btn btn-danger') Cancel
