<form action="/admin/post" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" placeholder="Title" name="title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" placeholder="Description" name="description"></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="enabled"> Enabled
        </label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="/admin/post" class="btn btn-danger">Cancel</a>
</form>